<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VitalLogic.Applications.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Xceed.Wpf.Toolkit" publicKeyToken="3e4669d2f30244f4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <userSettings>
    <VitalLogic.Applications.My.MySettings>
      <setting name="PrintBorder" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PrintPageNoLoc" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="PrintPageNoFormat" serializeAs="String">
        <value>#PNO#</value>
      </setting>
      <setting name="PrintBorderColor" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="PrintFillRectangle" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PrintFillRectangleColor" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="PrintLeftImage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PrintRightImage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PrintalternateNumberonChapter1" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PrintPageNumbers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PrintTitleLoc" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="AuthorLoc" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="PrintMetaFont" serializeAs="String">
        <value>Arial, 7.8pt</value>
      </setting>
      <setting name="ShowMargin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ScrollBar" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="StyleSet" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SeamlessEdititng" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReleaseVideo" serializeAs="String">
        <value>https://www.youtube.com/watch?v=FDZYPa_Ve0s</value>
      </setting>
    </VitalLogic.Applications.My.MySettings>
  </userSettings>
</configuration>